* {
    color:blue;
}
.loading-spinner {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.controls-container {
    padding: 1em;
    font-size: 3em;
    background-color:lightpink;
}


.movie-container {
    padding: 2em;
    background-color:lightgreen;
    display:flex;
    justify-content: center;
}

.filter-message {
    font-size:2em;
    padding:1em;
    text-align: center;
}

.control-button {
    padding:1em;
    font-size: 0.5em;
}

.filter-box{
    padding:1em;
    display:inline;
    align: right;
}

.filter-label{
    font-size: 0.5em;
}

.filter-input{
    width:10em;
}

